// 2. Now, import Bootstrap after the overrides
@use 'bootstrap/scss/bootstrap';

// 3. Apply Tamil font globally to body when lang="ta"
html[lang='ta'] body {
  font-family: 'Noto Sans Tamil', sans-serif !important;
}

body {
  background-color: #F0F8FF;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin: 10px 0;
}